# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
'.text.html.basic':
   'html basic tags':
     'prefix': 'htmlz'
     'body': """
              <!DOCTYPE html>
              <html lang="it" dir="ltr">
                <head>
                  <meta charset="utf-8">
                  <link rel="stylesheet" href="./assets/css/master.css">
                  <title></title>
                </head>
                <body>
                </body>
              </html>
            """

'.source.css':
   'css initial selector star':
     'prefix': 'init'
     'body': """
              * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
              }

            """
   'css cleafix':
     'prefix': 'clearfix'
     'body': """
              .row:after {
                content: "";
                display: table;
                clear: both;
              }
              
            """
